<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IV Surface Builder</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/2.32.0/plotly.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = 'container'>
        <h1>Implied Volatility Surface Builder</h1>
        <p class = 'subtitle'>Enter a ticker to pull its live option chain and build the IV surface.</p>
        <div class = 'input-row'>
            <input type = 'text' id = 'ticker-input' placeholder = 'e.g. AAPL'/>
            <button id = 'analyze-btn'>Build Surface</button>
        </div>

        <p id = 'status'></p>

        <div id = 'surface-chart'></div>
    </div>

    <script>
        const inp = document.getElementById('ticker-input');
        const btn = document.getElementById('analyze-btn');
        const status = document.getElementById('status');

        btn.addEventListener('click', async function() {
            const ticker = inp.value.trim().toUpperCase();
            const formData = new FormData();
            formData.append('ticker', ticker);

            status.textContent = `Fetching option chain for ${ticker}...`;

            const response = await fetch('/analyze', {
                method: 'POST',
                body: formData
            })

            const data = await response.json();

            if (!response.ok) {
                status.textContent = data.error;
                return;
            }

            status.textContent = '';

            Plotly.newPlot('surface-chart', [{
                x: data.x,
                y: data.y,
                z: data.z,
                type: 'surface',
                colorscale: 'Viridis'
            }], {
                paper_bgcolor: '#111111',
                plot_bgcolor: '#111111',
                font: { color: '#e0e0e0' },
                scene: {
                    xaxis: { title: 'Strike' },
                    yaxis: { title: 'Time to Expiry (yrs)' },
                    zaxis: { title: 'Implied Volatility' }
                },
                margin : { l:0, r: 0, b: 0, t: 20}
            });
        })
    </script>
</body>
</html>
